/* Reset básico */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, Helvetica, sans-serif;
}

/* fuente general que es la que uso el profesor y el background minimamente oscuro */

body {
    background-color: #f5f6f7;
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-track{
    background: transparent;
}

body::-webkit-scrollbar-thumb{
    background-color: #3eb9df;
    border: 2 px solid #3eb9df;
    border-radius: 10px;
}

/*tuve que editar el main para que ocupe todo su espacio y poder trabajar mejor el menu(si alguien presenta algun problema reportarlo)*/
main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* para evitar la barra de abajo de los textos de links */
a {
    text-decoration: none;
}

header{
    max-width: 100%;
}

/* Estilos del header */
.menu {
    background-color: #2C3E50;
    display: flex;
    color: #fff;
    height: 6rem;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    margin: auto;
}


.menu .nav-menu li {
    display: flex;
    padding: 0;
}

.menu .nav-menu li a {
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: color 0.3s ease, backgrond-color 0.3s ease;
}

.menu .nav-menu li:hover {
    background-color: #425262;
    border-radius: 4px;
}

.menu .nav-menu li:hover a {
    color: #229bcf;
}

/* logo */
.logo{
    display: flex;
    flex-wrap: wrap;
    width: 6%;
    line-height: 0.95;
}

/* texto del logo principal */
.logo a h1 {
    font-size: 1.5rem;
    color: #fff;
}

/* menu de navegación */
.nav-menu {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0 2rem;
    padding-left: 2rem;
    box-sizing: border-box;
}

/* estilos de la barra de navegacion derecha */
.nav-actions{
    display: flex;
    align-items: center;
    gap: 1.5rem; /* Espacio entre elementos como en la imagen */
}

/* Botón de tema de aspecto */
.tema-aspecto {
    display: flex;
    align-items: center;
}

.tema-btn{
    border: none;
    background: none;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0.5rem;
    transition: all .3s ease;
    border-radius: 50%;
}

.tema-btn:hover{
    background-color: #425262;
    border-radius: 100px;
    height: 60%;
    transform: scale(1.1);
}

/* diseños del selector de idioma */
.languaje-selector{
    position: relative;
}

/* Selectores */
#lang {
    background-color: #425262;
    color: #fff;
    border: 1px solid #687581;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 0.9rem;
} 

#lang option {
    background-color: #2C3E50;
    color: #fff;
}
/* menu hamburguesa*/

.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: auto;
}

/* Modo móvil */
@media (max-width: 768px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    background-color: #2C3E50;
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    padding: 0.5rem 0;
    z-index: 1000;
  }

  .nav-menu.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .nav-actions {
    flex-direction: row;
    position: absolute;
    top: auto;
    right: 40px;
    background-color: #2C3E50;
    padding: 0.5rem;
    display: flex;
  
  }

  .nav-actions.active {
    display: flex;
  }

  .menu {
    justify-content: space-between;
    position: relative;
  }

  .logo {
    width: 10px;
    
  }
}

/* Perfil */
/* TODO: revisar estos estilos para recortalos y que no sea con hover si no que sean con un evento que cuando se le de clik se vaya a desplegar las 3 opciones, a su vez, hacer que no tenga animaciones y mefjorar los diseños */
/* contenedor principal del perfil */
.profile {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 4rem;
    width: 9.5rem;
}

/* creacion de un checkbox oculto para controlar el menu y evitar que sea un boton */
.profile-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

/* diseños del triger del perfil */
.profile-trigger {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.profile-trigger:hover{
    background-color: #425262 ;
    border-radius: 5px;
    height: 4rem;
    transition: color 0.5s ease, background-color 0.5s ease;
}

/* contenedor de la imagen de perfil */
.profile-image {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
    border: none;
}

/* informacion del perfil, el nombre basicamente  */
.profile-info {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-weight: 500;
    color: #fff;
    line-height: 1.6;
}

/* estilos para el texto del nombre */
.profile-name {
    font-size: 0.9rem;
    text-align: center;
}

/* icono del dropdown ▼*/
.dropdown-icon {
    font-size: 0.8rem;
    color: #fff;
    margin-left: 0.2rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

/* estilos del div del menu desplegable */
.profile-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 12.25rem;
    margin-top: 0.5rem;
    overflow: hidden;
    z-index: 100;
    display: none;
}

/* mostrar el div drop down cuando el checkbox esta marcado */
.profile-checkbox:checked ~ .profile-dropdown {
    display: block;
}

/* rotar el icono del drp down cuando se le da lick y se abre el menu */
.profile-checkbox:checked + .profile-trigger .dropdown-icon {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

/* elementos del dropdown */
.profile-dropdown .dropdown-item {
    display: flex;
    align-items: center;
    padding: .75rem 1rem;
    color: #2c3e50;
    text-decoration: none;
    transition: all .3s ease;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    font-size: .9rem;
}

/* Hover de los elementos del dropdown */
.profile-dropdown .dropdown-item:hover {
    background-color: #f5f5f5;
}

/* Iconos dentro del dropdown */
.profile-dropdown .icon {
    display: inline-block;
    width: 1.5rem;
    font-size: 1.2rem;
    margin-right: 0.75rem;
}

.dropdown-divider {
    height: 1px;
    background: #e1e8ed;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #e1e8ed;
    opacity: 1;
}

/* Estilo especial para el botón de logout */
.profile-dropdown .dropdown-item.logout {
    color: #e74c3c; 

}
.profile-dropdown .dropdown-item.logout:hover {
    background-color: #FEE8E7;
    cursor: pointer;
}



/* hasta acá se termina toda la parte del header */

/* estos estilos son de toda la parte del conteido principal de la pagina */
/*tuve que editar el main para que ocupe todo su espacio y poder trabajar mejor el menu(si alguien presenta algun problema reportarlo)*/
main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 75rem;
}

h2{
    font-size: 3rem;
    font-weight: 500;
    color: #2c3e50;
    margin-bottom: 2rem;
}

/* estos estilos son de la parte de dashboard */
.dashboard{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}


/* estos estilos corresponden a la parte de los cursos que se estan realizando */
.my-enrolled-courses-container{
    margin-bottom: 3rem;
    width: 100%;
}

.header-MRC{
    display: flex;
    justify-content: space-between; /* separa el título y el botón */
    align-items: center;            /* los alinea verticalmente */
    margin-bottom: 1.5rem;
    /* max-width: 100%;
    flex-wrap: wrap;  */
}

h3{
    font-size: 1.5rem;
    font-weight: 500;
    color: #2c3e50;
}

.btn-MRC{
    background-color: #3498db; /* azul principal */
    color: #fff;
    padding: .75rem 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all .3s ease;
}

.btn-MRC:hover{
    background-color: #2980b9; /* azul más oscuro */
    transform: translateY(-2px);
}

/* esto supuestamente deber[ia de ser grid pero no se por que no aplica  */
.my-enrolled-courses{
    /* display: flex;
    flex-direction: column;
    gap: 1.5rem;
    min-width: 10rem; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
    width: 100%;
}
/* estilos de la parte de recent activity */

.recent-activity-container {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 4px #0000001a;
    padding: 1.5rem;
    box-sizing: border-box;
    /* editar esto del width, la verda no se como hacerlo  */
    width: 100%;
}

.recent-activity-container h2 {
    margin-bottom: 1.5rem;
    font-size: 2.25rem;
}

.recent-activity {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



/*AQUI EMPIEZA EL ESTILO RELACIONADO CON LA PAGINA DE PERFIL (POR FAVOR NO TOCAR SIN CONSULTAR)*/

.globalprofile{
  width: 130vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.103);
  width: 90%;
}

.profheader .cover {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #3394d4, #2d4961);
  width: 100%;
  height: 25vh;
  max-height: 12.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.career {
  color: rgb(139, 139, 139);
  font-family: Arial, Helvetica, sans-serif;
}

.profheader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-wrap: wrap;
}

.avatarcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  position: absolute;
  top: 23%;
}

.avatarimg {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25vw;
  height: 25vw;
  max-width: 10rem;
  max-height: 10rem;
  overflow: hidden;
  border: 3px solid #fff;
  background-color: #fff;
  border-radius: 60%;
}

.avatarimg img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 0.2rem;
    z-index: 2;
}

.avatartext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.infoprofile {
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 2rem;
    margin-top: 25vh;
    box-sizing: border-box;
}

.infocontainers {
    background-color: #F8F9FA;
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.infocontainers hr {
    color: rgb(241, 241, 241);
    background-color: rgb(235, 233, 233);
    height: 2px;
    border: none;
}

.user-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 2rem;
    gap: 1.5rem;
    width: 100%;
    box-sizing: border-box;
}

#stid {
    cursor: not-allowed;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user-info label {
    color: #797979;
    font-size: 0.8rem;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 1rem;
}

.buttonprof {
    padding: 1rem;
    cursor: pointer;
}

#save {
    background-color: #3394d4;
    border-radius: 5px;
    color: white;
    border: none;
    width: 100%;
    max-width: 10rem;
    font-size: 1rem;
}

#save:hover {
    background-color: #2870a0;
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

#cancel {
    border: 1px solid rgb(228, 228, 228);
    border-radius: 5px;
    background-color: transparent;
    font-size: 1rem;
    width: 100%;
    max-width: 6rem;
}

#cancel:hover {
    border: 1px solid rgb(146, 146, 146);
    background-color: #f5f5f5;
}

.user-info input {
    width: 100%;
    height: 3.5rem;
    border-radius: 5px;
    border: 1px solid #ebe9e9;
    background-color: transparent;
    padding: 1rem;
    font-size: 1rem;
    color: rgb(112, 112, 112);
    box-sizing: border-box;
}

.user-info input:focus {
    border: 1px solid #3394d4;
    outline: none;
    box-shadow: 0 0 5px rgb(130, 193, 196);
}

.user-info input::placeholder {
    color: rgb(189, 188, 188);
}

#progress {
    display: flex;
    flex-direction: column;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 1rem;
}

.profile-card {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    height: auto;
    width: 100%;
    max-width: 18rem;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(158, 158, 158, 0.103), -3px 3px 3px rgba(158, 158, 158, 0.103);
    flex-direction: column;
}

.profile-card p {
    color: rgb(133, 133, 133);
}

#infocardprof {
    font-size: 2rem;
    color: #3394d4;
}

.preferences-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    font-family: sans-serif;
    box-sizing: border-box;
    width: 100%;
}

.preference-item {
    display: flex;
    flex-direction: column;
    color: #000000;
    gap: 1rem;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    cursor: pointer;
}

.checkbox-container input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: #c2d8f7;
    cursor: pointer;
}

.preference-item span {
    font-size: 0.875rem;
    color: #7a7a7a;
    margin-left: 2.3rem;
}


/*AQUI TERMINA TODO LO RELACIONADO CON LA PAGINA DE PERFIL */

/*ESTE ES EL CSS DE PROGRESS PAGE*/


.Web-component {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
  }
  
  .card-container {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    justify-items: center;
    width: 100%;
    height: 100%;
  }
  
  .card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    text-align: center;
    
  }
  
  .card h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 1rem;
    color: #555;
  }
  
  .progress-bar {
    width: 100%;
    height: 10px;
    margin: 10px 0;
    border-radius: 10px;
    appearance: none;
    background-color: #f3f3f3;
  }
  
  .progress-bar::-webkit-progress-bar {
    background-color: #f3f3f3;
    border-radius: 10px;
  }
  
  .progress-bar::-webkit-progress-value {
    background-color: #007bff;
    border-radius: 10px;
  }
  
  .progress-bar::-moz-progress-bar {
    background-color: #007bff;
    border-radius: 10px;
  }
  
  .blue-text-btn {
    background: none;
    border: none;
    color: #007bff;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    margin-right: 15rem;
    height: 1rem;
    padding-top: 1rem;
    
  }
  .card h5{
    color: grey;
    text-align: left;
    font-size: 1rem;
    
  }
  .card h4{
    font-size: 2.2rem;
    text-align: left;
    font-weight: 1px;
  }
  .Web-component h1 {
    font-size: 3.1rem;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  .blue-text-btn:hover {
    color: #0056b3;
  }
  
  /* Estilos del modal */
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 0;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    position: relative;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
  }
  
  .close-btn:hover {
    color: #ff0000;
  }
  .progress-section {
    margin: 15px 0;
  }
  
  progress {
    width: 100%;
    height: 10px;
    border-radius: 20px;
    appearance: none;
    background-color: #f3f3f3;
  }
  
  progress::-webkit-progress-bar {
    background-color: #f3f3f3;
    border-radius: 20px;
  }
  
  progress::-webkit-progress-value {
    background-color: #007bff;
    border-radius: 20px;
  }
  
  progress::-moz-progress-bar {
    background-color: #007bff;
    border-radius: 20px;
  }
  
  
  .superior {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../assets/mode.js-development.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 8px;
    margin: 0;
    padding: 0;
  }
  
  
  .superior img {
    width: 100%; 
    height: 100%;
    opacity: 0; 
    position: absolute;
  
    
  }
  .superior h2 {
    margin-top:170px ;
    z-index: 10; 
    color: white;
    margin-left: 20px; 
    font-size: 2rem;
    
  }
  
  
  .superior progress {
    height: 10px;
    border-radius: 5px;
    background-color: #f3f3f3;
  }
  
  .superior progress::-webkit-progress-bar {
    background-color: #f3f3f3;
    border-radius: 5px;
  }
  
  .superior progress::-webkit-progress-value {
    border-radius: 5px;
  }
  
  
/*ACA TERMINA EL CSS DE EL PROGRESS BAR*/

/* hacer el responsivo para toda la pagina porque que pesadilla hacer el codigo en diferentes pantallas ya resoluciones */

@media (max-width: 1378px) {
}
