@media (max-width: 400px) {
    .profilecontainer{
        width: 100%;
    }
    
    .buttons {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    }
    #save {
    background-color: #3394d4;
    border-radius: 5px;
    color: white;
    border: none;
    width: 100%;
    font-size: 1rem;
    }

    #save {
    background-color: #3394d4;
    border-radius: 5px;
    color: white;
    border: none;
    width: 100%;
    font-size: 1rem;
    }

}

@media (max-width: 850px) {
    .globalprofile{
        width: 300vh;
    }

    .avatarcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    position: absolute;
    margin-top: 5%;
    }

    .infoprofile {
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 2rem;
    margin-top: 28%;
    box-sizing: border-box;
    }
    .buttons {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    }
   
    #save {
    background-color: #3394d4;
    border-radius: 5px;
    color: white;
    border: none;
    width: 100%;
    font-size: 1rem;
    }

    #save {
    background-color: #3394d4;
    border-radius: 5px;
    color: white;
    border: none;
    width: 100%;
    font-size: 1rem;
    }

}
