*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.logo{
    display: flex;
    flex-wrap: wrap;
    width: 6%;
}

.logo a h1:active{
    color: white;
}

/*aspecto del menu*/
.menu{
    background-color: #2C3E50;
    display: flex;
    color: white;
    height: 6rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/*AQUI COMIENZA TODO LO QUE TIENE QUE VER CON LOS BOTONES DE NAVEGACION DEL MENU*/
.menu ul{
    display: flex;
    padding: 2rem;
    gap: 2rem; 
}

.menu li{
    display: flex;
    text-decoration: none;
    background-color: transparent;
    padding: 0.9rem;
    gap: 2rem;
    cursor: pointer;
}

.menu li a{
    height: 100%;
    cursor: pointer;
}

.menu li:hover{
    background-color: #425262;
    border-radius: 5px;
    a{
        color:#229bcf ;
    }
}

.menu a{
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.opcion:active{
    background-color: #425262;
    border-radius: 5px;
}

.menu a:active{
    color: #229bcf;
}
/*AQUI TERMINA TODO LO QUE TIENE QUE VER CON LOS BOTONES DE NAVEGACION DEL MENU*/

/*boton para cambiar a modo oscuro/claro*/
.aspecto{
    cursor: pointer;
    width: 2%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
}

.aspecto:hover{
    background-color: #425262;
    border-radius: 100px;
    width: 2%;
    height: 40%;
    transform: scale(1.1);
}

.aspecto a{
    font-size: 20px;
}